header.container
{
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header.container div.elipse-container
{
    width: 90%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header.container div.elipse-container div.elipse-left
{
    max-width: 600px;
    height: 280px;
    display: flex;
    flex-flow: row;
    position: absolute;
}

header.container div.elipse-container div.elipse-left div.circle-left-one
{
    position: absolute;
    left: 0;
    bottom: 30px;
}

/*Informações e Form*/
header.container div.information-container
{
    width: 100%;
    padding-bottom: 5rem;
    margin-top: -2.5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;   
}

header.container div.information-container div.information-left
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 500px;
}

header.container div.information-container div.information-left div.information-text
{
    max-width: 90%;
}

header.container div.information-container div.information-left div.information-text h3
{
    color: white;
    font-size: max(57px, 1.6vw);
    font-family: serif;
}

header.container div.information-container div.information-left div.information-text h1
{
    font-size: max(22px, 2.5vw);
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
}

header.container div.information-container div.information-left div.information-text h4
{
    max-width: 95%;
    margin-bottom: 1.5rem;
    font-size: max(26px, 1.6vw);
    color: white;
}

header.container div.information-container div.information-left div.information-text p
{
     max-width: 95%;
     margin-bottom: 1.5rem;
     font-weight: 300;
     color: white;
}

header.container div.information-container div.information-right
{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 5.2rem;
}

header.container div.information-container div.information-right form
{
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header.container div.information-container div.information-right form div.form-input
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1.5rem;
}

header.container div.information-container div.information-right form div.form-input input
{
    height: 40px;
    margin-bottom: 5px;
}

header.container div.information-container div.information-right form div.form-input label.label-input
{
    font-size: max(16px, 0.9vw);
    font-family: sans-serif;
    font-weight: 600;
}

header.container div.information-container div.information-right form div.form-text 
{
    max-width: 90%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

header.container div.information-container div.information-right form div.form-text  span
{
    font: max(15px, 0.9vw);
    font-family: sans-serif;
    font-weight: 300;
}

header.container div.information-container div.information-right form div.form-enquete
{
    width: 90%;
    margin-bottom: 1.2rem;
    display: flex;
    flex-flow: row wrap;
     align-items: center;
}

header.container div.information-container div.information-right form div.form-enquete input
{
    margin-right: 5px;
}

header.container div.information-container div.information-right form button.form-button
{
    width: 60%;
    height: 60px;
    border: none;
    background-color: green;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 50px;
    cursor: pointer;
}

main
{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background-color: white;
}

main section.services
{
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4rem auto;
}

main section.services span
{
    font-size: max(18px, 0.9vw);
    font-family: sans-serif;
    font-weight: bold;
}

main section.social-media
{
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

main section.social-media div.contact
{
    display: flex;
    flex-flow: row wrap;
    margin: 0 1rem;
}

main section.social-media div.contact a
{
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: black;
}

main section.social-media div.contact a:hover
{
    text-decoration:underline 1px solid black;
}