*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #3c8342;
}

p, span, h3, h4
{
  font-family: sans-serif;
  font-size: 1rem;
}

h1
{
  font-family: sans-serif;
  font-size: 3rem;
  color: #000;
}